{{!-- Activation Cost --}}
<div class="form-group input-select">
  <label>{{localize "D35E.ActivationCost"}}</label>
  <div class="form-fields">
    <input type="text" name="data.activation.cost" value="{{data.data.activation.cost}}" data-dtype="Number" placeholder=""/>
    <select name="data.activation.type">
      {{#select data.data.activation.type}}
      <option value=""></option>
      {{#each config.abilityActivationTypes as |name key|}}
      <option value="{{key}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</div>
{{#if data.data.activation.type}}

{{#unless isAttack}}
<div class="form-group">
  <label>{{localize "D35E.Favorite"}}</label>
  <label class="checkbox" style="position: relative; flex: 0 20px">
    <input type="checkbox" class="stylized" name="data.favorite" {{checked data.data.favorite}}/>
    <span class="checkmark"></span>
  </label>
</div>
{{/unless}}

{{!-- Ability Target --}}
<div class="form-group input-select-select">
  <label>{{localize "D35E.Target"}}</label>
  <div class="form-fields">
    <input type="text" name="data.target.value" value="{{data.data.target.value}}"/>
  </div>
</div>

{{!-- Ability Range --}}
<div class="form-group input-select">
  <label>{{localize "D35E.Range"}}</label>
  <div class="form-fields">
    {{#if canInputRange}}<input type="text" name="data.range.value" value="{{data.data.range.value}}" placeholder="{{#unless isSpell}}{{localize "D35E.Formula"}}{{/unless}}"/>{{/if}}
    <select name="data.range.units">
      {{#select data.data.range.units}}
      <option value=""></option>
      {{#each config.distanceUnits as |name key|}}
      <option value="{{key}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</div>

{{!-- Area --}}
{{#if isSpell}}
<div class="form-group input-select-select">
  <label>{{localize "D35E.Area"}}</label>
  <div class="form-fields">
    <input type="text" name="data.spellArea" value="{{data.data.spellArea}}"/>
  </div>
</div>
{{/if}}

{{!-- Effect Duration --}}
<div class="form-group input-select">
  <label>{{localize "D35E.Duration"}}</label>
  <div class="form-fields">
    {{#if isSpell}}
    {{#if canInputSpellDuration}}<input type="text" name="data.spellDurationData.value" value="{{data.data.spellDurationData.value}}" placeholder="{{localize "D35E.Formula"}}"/>{{/if}}
    <select name="data.spellDurationData.units">
      {{#select data.data.spellDurationData.units}}
      <option value=""></option>
      {{#each config.timePeriodsSpells as |name key|}}
      <option value="{{key}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{else}}
    {{#if canInputDuration}}<input type="text" name="data.duration.value" value="{{data.data.duration.value}}" placeholder="{{localize "D35E.Formula"}}"/>{{/if}}
    <select name="data.duration.units">
      {{#select data.data.duration.units}}
      <option value=""></option>
      {{#each config.timePeriods as |name key|}}
      <option value="{{key}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/if}}
  </div>
</div>
{{#if isSpell}}
<div class="form-group">
  <label>{{localize "D35E.SpellDismissable"}}</label>
  <label class="checkbox" style="position: relative; flex: 0 20px">
    <input type="checkbox" class="stylized" name="data.spellDurationData.dismissable" {{checked data.data.spellDurationData.dismissable}}/>
    <span class="checkmark"></span>
  </label>
</div>
<div class="form-group">
  <label>{{localize "D35E.SpellLegacyDuration"}}</label>
  <input type="text" class="readonly" readonly value="{{data.data.spellDuration}}" placeholder="{{localize "D35E.SpellDurationExample"}}"/>
</div>
{{/if}}
<div class="form-group">
  <label>{{localize "D35E.RequiresPsionicFocus"}}</label>
  <label class="checkbox" style="position: relative; flex: 0 20px">
    <input type="checkbox" class="stylized" name="data.requiresPsionicFocus" {{checked data.data.requiresPsionicFocus}}/>
    <span class="checkmark"></span>
  </label>
</div>
{{!-- Limited Uses --}}
{{#unless isSpell}}
  <div class="form-group uses-per">
    <label>{{localize "D35E.LimitedUses"}}</label>
    <div class="form-fields">
      {{#if isCharged}}
      {{#unless data.data.linkedChargeItem.id}}
      <input type="text" name="data.uses.value" value="{{charges}}" data-dtype="Number"/>
      {{else}}
      <input type="text" disabled value="{{charges}}" data-dtype="Number"/>
      {{/unless}}
      <span class="sep"> / </span>
      <input type="text" value="{{maxCharges}}" disabled data-dtype="Number"/>
      {{/if}}
      <select name="data.uses.per">
        {{#select data.data.uses.per}}
        <option value=""></option>
        {{#each config.limitedUsePeriods as |name key|}}
        <option value="{{key}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  </div>

<div class="form-group">
  <label>{{localize "D35E.Resource"}}</label>
  <label class="checkbox" style="position: relative; flex: 0 20px">
    <input type="checkbox" class="stylized" name="data.uses.isResource" {{checked data.data.uses.isResource}}/>
    <span class="checkmark"></span>
  </label>
</div>
<div class="form-group">
  <label>{{localize "D35E.CanBeLinked"}}</label>
  <label class="checkbox" style="position: relative; flex: 0 20px">
    <input type="checkbox" class="stylized" name="data.uses.canBeLinked" {{checked data.data.uses.canBeLinked}}/>
    <span class="checkmark"></span>
  </label>
</div>
{{#unless data.data.uses.canBeLinked}}
  {{#unless data.data.linkedChargeItem.id}}
  {{#if isCharged}}
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumUsesFormula"}}</label>
    <input type="text" name="data.uses.maxFormula" value="{{data.data.uses.maxFormula}}" placeholder="{{localize "D35E.MaximumUsesFormula"}}"/>
  </div>

  <div class="form-group uses-recharge-formula">
    <label>{{localize "D35E.RechargeFormula"}} <i class="fas fa-info-circle tooltip">
      <div class="tooltipcontent"><strong>{{localize "D35E.RechargeFormula"}}</strong><br><p style="white-space: normal;"> {{localize "D35E.RechargeFormulaInfo"}}</p></div>
    </i></label>
    <input type="text" name="data.uses.rechargeFormula" value="{{data.data.uses.rechargeFormula}}" placeholder="{{localize "D35E.RechargeFormula"}}"/>
  </div>
  {{/if}}
  {{/unless}}
  <div class="charge-link flexcol">
    {{#unless data.data.linkedChargeItem.id}}
      <div style="width: 100%; text-align: center; padding: 12px">
        {{localize "D35E.DropChargeLinkItem"}}
      </div>
    {{else}}
      <h4>{{localize "D35E.LinkedCharge"}} {{data.data.linkedChargeItem.id}}<a style="float: right" class="colorized-link remove-charge-link">{{localize "D35E.UnlinkCharge"}}</a></h4>
      <div class="form-group">
      <img src="{{data.data.linkedChargeItem.img}}">
      <label>{{data.data.linkedChargeItem.name}}</label>



      </div>
      {{/unless}}
    <em style="align-self: flex-end;">{{localize "D35E.LinkedChargeDescription"}}</em>
  </div>
{{/unless}}

  <div class="form-group">
    <label>{{localize "D35E.AutoDeductCharges"}}</label>
    <label class="checkbox" style="position: relative; flex: 0 20px">
      <input type="checkbox" class="stylized" name="data.uses.autoDeductCharges" {{checked data.data.uses.autoDeductCharges}}/>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group input">
    <label>{{localize "D35E.ChargesToDeduct"}}</label>
    <input style="width: 40px" type="text" value="{{data.data.uses.chargesPerUse}}" name="data.uses.chargesPerUse"  data-dtype="Number"/>
  </div>

  <div class="form-group">
    <label>{{localize "D35E.AllowMultipleUses"}}</label>
    <label class="checkbox" style="position: relative; flex: 0 20px">
      <input type="checkbox" class="stylized" name="data.uses.allowMultipleUses" {{checked data.data.uses.allowMultipleUses}}/>
      <span class="checkmark"></span>
    </label>
  </div>
  {{#if data.data.uses.allowMultipleUses}}
  <div class="form-group input">
    <label>{{localize "D35E.MaxChargesPerUse"}}</label>
    <input style="flex: 0 140px; margin-right: 1rem" type="text" value="{{data.data.uses.maxPerUseFormula}}" name="data.uses.maxPerUseFormula"  data-dtype="String"/>

    <span class="sep"> Total:  </span>
    <input style="flex: 0 40px" type="text" value="{{data.data.uses.maxPerUse}}" disabled  data-dtype="Number"/>
  </div>
  {{/if}}


  {{#if isCharged}}
  <div class="form-group">
    <label>{{localize "D35E.RechargeMechanicOnUse"}}</label>
    <label class="checkbox" style="position: relative; flex: 0 20px">
      <input type="checkbox" class="stylized" name="data.recharge.enabled" {{checked data.data.recharge.enabled}}/>
      <span class="checkmark"></span>
    </label>
  </div>
  {{#if data.data.recharge.enabled}}
  <div class="form-group input">
    <label>{{localize "D35E.RechargeTimeFormula"}} <i class="fas fa-info-circle tooltip">
      <div class="tooltipcontent"><strong>{{localize "D35E.RechargeTimeFormula"}}</strong><br><p style="white-space: normal;"> {{localize "D35E.RechargeTimeFormulaInfo"}}</p></div>
    </i></label>
    <input style="flex: 0 140px; margin-right: 1rem" type="text" value="{{data.data.recharge.formula}}" name="data.recharge.formula"  data-dtype="String"/>

    <span class="sep"> Current:  </span>
    <input style="flex: 0 40px" type="text" value="{{data.data.recharge.current}}" name="data.recharge.current"  data-dtype="Number"/>
  </div>
  {{/if}}
  {{/if}}
{{/unless}}
{{/if}}
